@import '../../App.scss';

.wrapper {
  max-width: 90%;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
}

.addFormContainer {
  background-color: darkslategrey;
  padding: 10px 50px;
  border-radius: 11px;
  margin: 0 auto;
  width: 70%;
  
  h3 {
    color: white;
    text-align: left;
    margin-bottom: 30px;
    font-size: 150%;
  }
}
.tableTopBar {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.tableContainer {
  width: 100%;
  border-radius: 11px;
  background-color: #242424;
  color: white;
}
@media only screen and (max-device-width: 600px) {
  .wrapper {
    max-width: 90%;
    overflow: hidden;
  }

  .main {
    background-image: url("../Img/banner.webp");
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}