@import '../../App.scss';

$primary-color: #2d2d2d;
$background-dark-color: #1f1f1f;
$background-medium-color: #2a2a2a;
$background-light-color: #383838;
$text-color: #ffffff;
$text-light-color: #cccccc;
$border-color: #333333;

.dark-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 6px;
  overflow: hidden;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid $border-color;
  }

  th {
    background-color: $primary-color;
    color: $text-light-color;
  }

  td {
    background-color: $background-dark-color;
    color: $text-color;
  }

  tr:nth-child(even) {
    background-color: $background-medium-color;
  }

  tr:hover {
    background-color: $background-light-color;
  }
}